
<div class="my-seekbar">
  <div class="seekbar_area">
    <div class="sb_bar_part sb_duration">
        <div class="sb_bar_part sb_active"></div
        ><div class="sb_bar_part sb_playhead"></div>
    </div>
  </div>
</div>
